/*Home Slide BG*/

.body_blue_purple_bg{background: linear-gradient(104.5deg, #0A51A4 25%, #832B99 75%);}
.body_purple_red_bg{background: linear-gradient(104.5deg, #852695 25%, #CE1414 75%);}
.body_purple_red_bg{background: linear-gradient(104.5deg, #832B99 25%, #E21D11 75%);}
.body_red_orange_bg{background: linear-gradient(104.5deg, #E21D11 25%, #EF880F 75%);}
.body_orange_yellow_bg{background: linear-gradient(104.5deg, #EF880F 25%, #EFD90F 75%);}
.body_yelloy_green_bg{background: linear-gradient(100deg, #D3BF05 25%, #067010 75%);}
.body_green_seegreen_bg{background: linear-gradient(104.5deg, #46A221 12.77%, #077497 107.44%);}
.body_blue_purple_bg2{background: linear-gradient(104.5deg, #077497 14.14%, #852695 93.47%);}

/*Page bg*/
.body_light_blue_purple_bg{background: linear-gradient(104.5deg, #5ea5bb 25%, #9b75b8 75%);}
.body_regular_product_detail_bg{background: linear-gradient(104.5deg, #f4e55e 25%, #a5d18f 75%);}

.body_light_green_bg{background: linear-gradient(99.63deg, rgba(39, 162, 112, 0.2) 0%, rgba(7, 116, 151, 0.2) 16.99%, rgba(255, 255, 255, 0.2) 52.72%), #FFFFFF;box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.2);border-radius: 15px;}
.body_light_pink_bg{background: linear-gradient(105.02deg, rgba(169, 28, 235, 0.2) 2.99%, rgba(211, 32, 32, 0.2) 12.69%, rgba(255, 255, 255, 0.2) 33.43%), #FFFFFF;
box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.2);border-radius: 15px;}
.body_light_green_pink_bg{background: linear-gradient(106.72deg, rgba(7, 116, 151, 0.2) 4.48%, rgba(173, 46, 232, 0.2) 16.76%, rgba(255, 255, 255, 0.2) 38.73%), #FFFFFF;
box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.2);border-radius: 15px;}

.body_light_orange_bg{background: linear-gradient(111.85deg, rgba(211, 32, 32, 0.2) 0.89%, rgba(255, 165, 31, 0.2) 8.66%, rgba(255, 255, 255, 0.2) 32.4%), #FFFFFF;box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.2);border-radius: 15px;}

.body_light_orange_yellow_bg{background: linear-gradient(90deg, rgba(255, 165, 31, 0.2) 2.51%, rgba(239, 243, 13, 0.2) 16.59%, rgba(255, 255, 255, 0.2) 33.02%), #FFFFFF;box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.2);border-radius: 15px;}

/*Steps bg color*/
.step1_bg{background: linear-gradient(91.29deg, #077497 7.67%, #A91CEB 99.28%);}
.step2_bg{background: linear-gradient(91.29deg, #A91CEB 7.67%, #D32020 99.28%);}
.step3_bg{background: linear-gradient(91.29deg, #D32020 7.67%, #FFA51F 99.28%);}
.step4_bg{background: linear-gradient(91.29deg, #D32020 7.67%, #FFA51F 99.28%);}
.step5_bg{background: linear-gradient(91.29deg, #D32020 12.86%, #FFA51F 96.36%);}
.step6_bg{background: linear-gradient(91.29deg, #FFA51F 12.86%, #FFE91F 96.36%);}
.step7_bg{background: linear-gradient(103.6deg, #27A270 -0.39%, #077497 17.57%, #A91CEB 33.53%, #D32020 61.22%, #FFA51F 75.77%, #FFE605 94.82%);}
/*.step7_bg:before{content:""; background:rgba(255,255,255,0.9); position:absolute; width:100%; height:100%; top:0; left:0; z-index:0;opacity: 0.95;}*/

.steps_form #step2 img{max-height:125px;}
.steps_form .step_title{font-size:44px; line-height:50px; text-align:center;font-family: 'helveticaneuebold', sans-serif;margin: 0 auto 40px;}
.steps_form .step_title.step_title_1{background: linear-gradient(91.22deg, #077497 1.04%, #AD10F6 102.04%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.steps_form .step_title.step_title_2{background: linear-gradient(to right, #E374FF 0%, #D85047 75%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.steps_form .step_title.step_title_3{background: linear-gradient(to right, #CF0707 0%, #FFA51F 75%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.steps_form .step_title.step_title_4{background: linear-gradient(to right, #F25B05 0%, #FAF11F 75%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}

/*Gray Header*/
header.gray_header .navbar_custum{background: rgba(236,240,243,0.35);box-shadow: -20px 20px 30px rgba(0, 0, 0, 0.3);border-radius: 15px;}
header.gray_header .navbar_custum.navbar-light .navbar-nav .nav-link{color: #333;}
header.gray_header .navbar_custum.navbar-light .navbar-nav .nav-link.active{color: #333;}
header.gray_header .navbar_custum .navbar-brand{color: #333;}
header.gray_header .navbar_custum .navbar-brand:hover{color: #000;}
header.gray_header .top_account .fa{border: solid 1px #333;color: #333;}
header.gray_header .top_account a .cart_value{background:#f00;color: #000;}

/*Gray Header and Footer*/
footer.footer_gray ul li a{border: solid 1px #333;color: #333;}
footer.footer_gray ul li a:hover{color: #333;}
