@media (max-width:1440px){
.education h1 {font-size: 70px;}
.education h2{font-size:55px;}
.home_banner_slider .slide{min-height: 92vh;max-height: 92vh;}
}
@media (max-width:1199px){
header .container {max-width: 820px;}
footer .container{max-width: 700px;}
.navbar_custum.navbar-light .navbar-nav .nav-link{padding:7px 15px;}
.home_banner_slider h1{font-size:60px;}
.education h1 {font-size: 60px;}
.education h2{font-size:50px;}
.designStudio h2{font-size:50px;}
.education .color{background-size: 100%;}
.education .color::after {width: 200px;height: 500px;}
/*
.home_banner_slider .owl-nav .owl-prev {width: 3%;}
.home_banner_slider .owl-nav .owl-next {width: 3%;}
*/
}
@media (max-width:1024px){
.carat .hand_bg .ring_weight{top:28.5%;}
.carat .hand_bg {background-position: 5% 15%;min-height: 700px;}
.carat .owl-dots {top: 28%;}
.carat .hand_bg  .slide1 .ring_weight{left:16%; width:120%;}
.carat .hand_bg  .slide2 .ring_weight{left:31%; width:100%;}
.carat .hand_bg  .slide3 .ring_weight{left:45%; width:100%;}
.carat .hand_bg  .slide4 .ring_weight{left:58%; width:86%;}
}
@media (max-width:991px){
header .container {max-width: 900px;}
.navbar_custum {padding: 5px 0px 5px 0px;}
.top_account {right: 115px;}
.navbar-light .navbar-toggler{color:#fff;}
.navbar_custum .navbar-nav{padding: 10px;}
.navbar_custum .navbar-toggler{padding: 5px 15px;font-size: 24px;border: 0;border-radius: 0;}
.navbar_custum .navbar-toggler:focus{outline:0;}
.navbar_custum.navbar-light .navbar-nav .nav-link:focus, .navbar_custum.navbar-light .navbar-nav .nav-link:hover{-webkit-transform: scale(1);-moz-transform: scale(1);transform: scale(1)}
.navbar-collapse{width: 100%;top: 0;-webkit-transition: all .3s ease-in;transition: all .3s ease-in;animation: smoothScroll 1s forwards;z-index: 99;}
.fixed-top {background: rgba(0,0,0,0.1);}
.home_banner_slider h1{font-size:50px;}
.education h1 {font-size: 50px;}
.education h2{font-size:40px;}
.resizing:before{width:90%;left: 15px;top: -15%;}
.resizing:after{width:91%;left: 40px;top: -30px;}
.resizing_slider{width:93%; margin-left: 50px;}
.support h1{font-size:36px;}
footer .social {position: relative;right: 0;left: 0;margin: auto;display: table;top: -15px;}
.hand_bg{background-position:center top;}
.carat .hand_bg .ring_weight{top:33.5%;}
.carat .owl-dots {top: 20%;}
.carat .hand_bg{background:url(../images/hand.png) no-repeat 25% 0; position:relative;}
.education .color:after{display:none;}
.education .color .pt-14 {padding-top: 70px;}
}
@media (max-width:767px){
.top_account {right: 75px;}
.home_banner_slider .item {padding: 50px 0;}
.home_banner_slider .slide_content {position: relative;}
.home_banner_slider h1{font-size:40px;}
.education h2{font-size:40px;}
.education h3 {font-size: 20px;}
.resizing:before{width:86%;left: 10px;top: -10%;}
.resizing:after{width:86%;left: 35px;top: -25px;}
.resizing_slider{width:90%; margin-left: 40px;}
.designStudio h2{font-size:40px;}
.support h1{font-size:28px;}
.steps_form .step_title {font-size: 26px;line-height: 28px;}
#wizard{height:100%;}
.steps_form .progress, #wizard .btn_close_step{top: 20px;}
.steps_form .wzd-content {height: calc(100% - 100px);padding-top: 50px;margin-top: 45px;padding-bottom: 120px;overflow-y: auto !important;overflow: hidden;}
/*.steps_form .wzd-content{height: auto;}*/
body{padding: 0 30px;}
}
@media (max-width:575px){
#designStudio .item {margin-bottom:0px;}
.home_banner_slider h1{font-size: 30px;}
.designStudio h2 {font-size: 30px;}
.support h1{font-size:26px;}
.box_description{bottom: 0px;left: 20px;}
.cut_tab.nav-tabs .nav-link {font-size: 14px;}
.nav-tabs.education_tab .nav-link {font-size: 9px;padding: 0px 4px;}
}